---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold">Welcome to azelectricalcontractorcom-test33e</h1>
  </main>
</Layout>
